/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/
/**************************
	General
***************************/
.l-page {
	background: $grey;
}
.l-header-wrapper {
	background: $blue;
}
.block--views {
	padding: 0.5em 1em;
}
.site-logo img {
	max-width: 100%;
}
.active {
	color: white;
}
/**************************
	System Messages
***************************/
.messages--status, .ok {
	color: white;
}
.messages--status, tr.ok {
	background: none;
}
/**************************
	Tables
***************************/
table {
	width: 100%;
	th {
		background: $purple;
		color: white;
		padding: 0.5em 0;
		text-align: center;
	}
	tr {
		text-align: center;
		&.odd {
			background: $light-grey;
		}
		&.even {
			background: $dark-grey;
		}
		td {
			padding: 0.5em 0;
		}
	}
}
/**************************
	Login Page
***************************/
.toboggan-unified {
	#login-message {
		font-family: $header-font;
		font-size: 1.5em;
		padding: 0.5em 0;
	}
	#login-links {
		a.lt-active {
			background: $purple;
			color: white;
			&:hover {
				background: $purple;
				color: $blue;
			}
		}
		a {
			background: $dark-grey;
			color: white;
			&:hover {
				color: $purple;
				background: $dark-grey;
			}
		}
	}
}
/**************************
	Header
***************************/
.l-branding {
	text-align: center;
}
.l-header {
	padding: 0!important;
}
.l-header-top {
	background: $purple;
}
.l-region--header {
	height: 26px;
	#block-boxes-social-icons {
		float: left;
		div {
			float: left;
			padding-right: 0.2em;
		}
		.sm_links {
			height: 22px;
			@include hide-text(left);
			width: 22px;
		}
		.facebook {
			@include spr-sprite("facebook");	
		}
		.twitter {
			@include spr-sprite("twitter");	
		}
	}
	#block-commerce-cart-cart {	
		float: right;
		padding-right: 0.5em;
		.view-commerce-cart-block {
			.view-content {
				display: none;
			}
			.line-item-summary {
				color: $blue;
				margin-bottom: 0;
				font-size: 0.8em;
				margin-top: 0.3em;
				.line-item-total {
					display: inline;
					padding-right: 0.5em;
				}
				.links--inline {
					display: inline-block;
					margin-top: 0;
					vertical-align: bottom;
					a {
						color: $blue;
						&:hover {
							color: white;
						}
					}
				}
			}
		}
	}
	#block-user-login {
		float: right;
		padding-right: 0.5em;
		a {
			color: $blue;
			&:hover {
				color: $blue;
			}
		}	
	}
	#block-logintoboggan-logintoboggan-logged-in {
		@extend #block-user-login;
	}
	#block-user-badges-my-badges {
		clear: right;
		padding: 0.5em;	
		text-align: right;		
	}
	#block-userpoints-meter-1 {
		padding-left: 0.5em;
		margin-top: -5em;
		h2 {
			font-size: 0.6em;
			margin: 0 0 0.5em 0;
			padding: 0;
			text-align: left;
		}
		.points-left {
			background: $purple;
			border: none;
			height: 20px;
		}
		.userpoints-meter-meter-bar {
			background: $dark-grey;
		}
		.points-left-wrapper {
			border: none;
		}
		.points-text {
			font-size: 0.8em;
			text-shadow: none;
		}
	}
}
#block-system-main-menu {
		.menu {
			text-align: center;
			padding: 0;
			margin: 0 0 0.9em;
			a {
				padding: 0 0.9em;
			}
		}
	}
/**************************
	Menu
***************************/
.menu {
	.leaf {
		display: inline-block;
		list-style-image: none;
		list-style-type: none;
		padding: 0 0.6em;
		a {
			font-family: $body-font;
			font-size: 1em;
		}
	}
}
/**************************
	Frontpage
***************************/
.front {
	h1 {
		text-align: center;
	}
	.l-main {
		padding: 0;
		.view-homepage {
			.view-content {
				margin-bottom: 10em;
			}
			.mrb-playlist {
				li {
					list-style-type: none;
					padding: 0.1em 1em 2em;
				}
			}
			.view-display-id-attachment_2 {
				margin-bottom: 16em;
				.views-row {
					display: block;
					background: $dark-grey;
					border: 3px solid $light-grey;
					padding: 1em;
					margin: 1em;
				}
			}
		}
	}
	#block-views-about-us-homepage-block-block {
		background: $dark-grey;
		border: 3px solid $light-grey;
		margin: 1em;
	}
}
/**************************
	The Player
***************************/
/* The following is resetting the module's css */
div.jp-interface, div.jp-playlist {
	border: none;
	background-color: transparent;
}
.view-homepage {
	.jp-audio {
		margin: 0 auto;
		width: 565px;
		.jp-type-playlist {
			background: url('../images/mpc2000-player.png') no-repeat 0 0;
			color: $black;
			font-family: $header-font;
			height: 417px;
			width: 575px;
			a {
				height: 25px;
				width: 38px;
			}
			.jp-play {
				left: 334px;
				top: 165px;
				@include spr-sprite("play");
				&:hover {
					@include spr-sprite("play-hover");
				}
			}
			.jp-pause {
				left: 334px;
				top: 165px;
				@include spr-sprite("pause");
				&:hover {
					@include spr-sprite("pause-hover");
				}
			}
			.jp-stop {
				left: 382px;
				top: 164px;
				@include spr-sprite("stop");
				&:hover {
					@include spr-sprite("stop-hover");
				}
			}
			.jp-previous {
				left: 336px;
				top: 212px;
				@include spr-sprite("previous");
				&:hover {
					@include spr-sprite("previous-hover");
				}
			}
			.jp-next {
				left: 381px;
				top: 212px;
				@include spr-sprite("next");
				&:hover {
					@include spr-sprite("next-hover");
				}
			}
			.jp-progress {
				display: none;
			}
			.jp-current-time {
				left: 193px;
				top: 47px;
			}
			.jp-duration {
				left: 134px;	
				top: 67px;	
				font-size: 0.5em;
			}
			.jp-playlist-current {
				
			}
			.jp-playlist {
				position: relative;
				top: 16em;
				color: $white;
				li {
					&.jp-playlist-current {
						a {
							color: $purple;
						}
					}
					a {
						color: $white;
						font-size: 0.8em;
					}
				}
			}
			.jp-volume-bar {
				display: none!important;
			}
			.jp-mute {
				display: none!important;
			}
		}
	}
}
/**************************
	Category Page
***************************/
.view-the-shop {
	.views-table {
		text-align: center;
		th {
			background: $black;
			font-family: $header-font;
			font-size: 0.8em;
			font-weight: normal;
			padding: 1em 0;
			text-align: center;
		}
		td {
			padding: 0.5em;
			width: 120px;
			&.views-field-field-audio-bpm {
				width: 80px;
			}
		}
		tr {
			&.odd {
				background: $light-grey;
			}
			&.even {
				background: $dark-grey;
			}
		}
	}
	.views-field-view-node {
		a {
			@extend input[type="submit"];
		}
	}
	.views-field-title {
		text-align: left;
	}
	.views-exposed-form {
		margin-bottom: 1em;
		.views-exposed-widget .form-submit {
			margin-top: 1em;
		}
	}
	.field--name-field-audio-file {
		margin-top: 0.5em;
		height: 45px;
		width: 150px;
		.jp-audio {
			width: 150px!important;
		}
		.jp-progress {
			display: none;
		}
		.jp-volume-bar {
			display: none!important;
		}
		.jp-mute {
			display: none!important;
		}
		.jp-current-time {
			display: none;
		}
		.jp-duration {
			display: none;
		}
		.jp-playlist {
			display: none;
		}
		.jp-play {
			@include spr-sprite("beats-play");
			top: 0!important;
			left: 0!important;
			&:hover {
				@include spr-sprite("beats-play-hover");
			}
		}
		.jp-pause {
			@include spr-sprite("beats-pause");
			top: 0!important;
			left: 0!important;
			&:hover {
				@include spr-sprite("beats-pause-hover");
			}
		}
		.jp-stop {
			@include spr-sprite("beats-stop");
			width: 40px;
			height: 40px;
			top: 0!important;
			left: 47px!important;
			&:hover {
				@include spr-sprite("beats-stop");
			}
		}
	}
}
#block-views-kpi-block-block {
	.views-row {
		display: block;
		background: $dark-grey;
		border: 3px solid $light-grey;
		padding: 1em 1em 1.5em;
		margin: 1em;
		fieldset {
			border: none;
			padding: 0;
		}
	}
	.views-row-1 {
		.views-field-field-kpi-list-item {
			padding-top: 1em;
		}
	}
}
html.js fieldset.collapsible .fieldset-legend {
	@include spr-sprite("fieldset-opened");
	height: 26px;
	padding: 0.05em 0 0 2em;
	a {
		color: $purple;
	}
}
html.js fieldset.collapsed .fieldset-legend {
	@include spr-sprite("fieldset-closed");
	height: 26px;
}
/**************************
	Product Page
***************************/
.node-type-product-display {
	@extend .view-homepage;
	.jp-playlist {
		display: none;
	}
	.field--label-inline .field__items,
	.field--label-inline .field__item	{
		margin-right: 1em;
	}
	.field-commerce-price {
		clear: both;
		background: $dark-grey;
		border: 3px solid $light-grey;
		padding: 1em;
		margin: 0 auto 0.8em;
		width: 50px;
	}
	.field--name-body {
		clear: both;
		padding-top: 0.1em;
	}
	.field--name-field-product-reference {
		margin: 0 auto;
		width: 172px;
		input[type="submit"] {
			margin: 0 2em;
		}
	}
}
/**************************
	The Blog
***************************/
.page-blog {
	.view-blog {
		@extend .view-the-shop;
		.views-row {
			display: block;
			background: $dark-grey;
			border: 3px solid $light-grey;
			padding: 1em;
			margin: 1em;
		}
		.field--name-field-audio-post {
			@extend .field--name-field-audio-file;
		}
	}
}
#block-views-blog-block-1 {
	h2 {
		text-align: left;
	}
	.views-row {
		background: $light-grey;
		padding: 0.2em 0.5em 0.3em;
		margin-bottom: 1em;
		.views-field-nothing {
			@include spr-sprite("news");
			height: 65px;
			width: 72px;
			float: left;
			padding: 0.2em 0.5em;
		}
		h3 {
			margin: 0.2em 0;
		}
		p {
			margin: 0.2em 0;
		}
	}
}
/**************************
	FAQs Page
***************************/
.node-type-faqs-page {
	.double-field-first {
		font-weight: bold;
		padding: 1em 0 0.5em;
	}
	h3 {
		font-size: 1.2em;
		margin: 1.6em 0 0.1em;
	}
}
/**************************
	Cart & Checkout Pages
***************************/
.view-commerce-cart-form {
	.line-item-summary {
		margin: 1em 0.2em 1em 0;
	}
}
.view-commerce-cart-summary {
	.component-type-commerce-price-formatted-amount {
		background: $dark-grey;
		border: 3px solid $light-grey;
	}
}
