/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
/**************************
	Frontpage
***************************/
@include at-breakpoint($tab) {
	.mrb-playlist {
		width: 50%;
		float: left;
	}
}
@include at-breakpoint($desk) {
	#block-views-blog-block-1 {
		width: 43.03797%;
		float: left;
	}
	#block-views-about-us-homepage-block-block {
		width: 48.2%;
		float: left;
	}	
}
