/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
/**************************
	Frontpage
***************************/
.view-homepage {
	
}

@include at-breakpoint($tab) {
	
}
@include at-breakpoint($desk) {
	#block-views-blog-block-1 {
		width: 43.03797%;
		float: left;
	}
	#block-views-about-us-homepage-block-block {
		width: 48.2%;
		float: left;
	}
	.logged-in {
		.view-homepage {
			.view-display-id-attachment_2 {
				.views-row-1 {
					top: 0;
				}
				.views-row-2 {
					top: 21em;
				}
				.views-row-3 {
					top: 0;
					right: 0;
				}
				.views-row-4 {
					top: 21em;
					right: 0;
				}
			}
		}
	}
	.view-homepage {
		.view-display-id-attachment_2 {
			.views-row {
				position: absolute;
				width: 12%;
			}
			.views-row-1 {
				top: 19em;
			}
			.views-row-2 {
				top: 39em;
			}
			.views-row-3 {
				top: 19em;
				right: 21em;
			}
			.views-row-4 {
				top: 39em;
				right: 21em;
			}
		}
	}
}
/**************************
	Category Page
***************************/
@include at-breakpoint($desk) {
	.section-buy-beats {
		.view-the-shop {
			float: left;
			width: 70%;
		}
		#block-views-kpi-block-block {
			float: left;
			width: 30%;
			padding: 0;
			.views-row-1 {
				margin-top: 0;
			}
			.views-row {
				margin-right: 0;
			}
		}
	}
}
/**************************
	Product Page
***************************/
@include at-breakpoint($desk) {
	.node-type-product-display {
		.field--name-field-audio-file {
			float: left;
			margin-right: 5%;
			width: 50%;
		}
		#node_product_display_full_group_product_info {
			float: left;
			margin: 1.6em 0;
			width: 45%;
		}
		#block-views-kpi-block-block {
			clear: both;
		}
		.field--name-field-product-reference {
			width: 100%!important;
			input[type="submit"] {
				margin: 0!important;
			}
		}
		.field-commerce-price {
			margin: 0 0 0.8em!important;
		}
	}
}
/**************************
	The Blog
***************************/
@include at-breakpoint($tab) {
	.page-blog {
		.view-content {
		float: left;
		width: 50%;
		}
		.attachment {
			float: left;
			width: 50%;
			.view-content {
				width: 100%;
			}
		}
	}
	.node-type-blog-post {
		.node--blog-post {
			float: left; 
			margin-right: 5%;
			width: 57.19%;
		}
		#block-views-blog-block-1 {
			width: 35%;
		}
	}
}
@include at-breakpoint($desk) {
	.page-blog {
		.view-content {
		width: 60%;
		}
		.attachment {
			width: 40%;
		}
	}
}