/*******************************************************************************
 * _layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000330}}
.l-header,
.l-main,
.l-footer {
  *zoom: 1;
  max-width: 1170px;
  _width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/o4820488215\.ftp\/\.rvm\/gems\/ruby-2\.0\.0-p481\/gems\/compass-0\.12\.7\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-header:after,
.l-main:after,
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000339}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 0;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000346}}
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1170px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000351}}
  .l-region--header {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000354}}
  .l-branding {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000357}}
  .l-region--navigation {
    width: 100%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000364}}
  .sidebar-first .l-content,
  .sidebar-second .l-content,
  .two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000368}}
  .sidebar-first .l-region--sidebar-first,
  .sidebar-first .l-region--sidebar-second,
  .sidebar-second .l-region--sidebar-first,
  .sidebar-second .l-region--sidebar-second,
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000371}}
  .sidebar-first .l-region--sidebar-second,
  .sidebar-second .l-region--sidebar-second,
  .two-sidebars .l-region--sidebar-second {
    clear: right;
  }
}
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000379}}
  .l-page,
  .l-header-top {
    max-width: 1170px;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000385}}
  .l-header,
  .l-main,
  .l-footer {
    max-width: 1170px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000389}}
  .l-region--header {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000392}}
  .l-branding {
    width: 100%;
    float: left;
    margin-right: 1.26582%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\0000395}}
  .l-region--navigation {
    width: 100%;
    float: right;
    margin-right: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\00003100}}
  .sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\00003103}}
  .sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\00003108}}
  .sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\00003111}}
  .sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\00003118}}
  .two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\00003123}}
  .two-sidebars .l-region--sidebar-first,
  .two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\00003126}}
  .two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-commerce-7\.26-1\.9-2\.9-d\.002\/profiles\/mrregobeats\/themes\/mrregobeats\/sass\/layouts\/griddle\/griddle\.layout\.scss}line{font-family:\00003129}}
  .two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }
}
